<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 1</title>
</head>
<body>
    <h1>Pergunta 1</h1>
    <!-- Tema:"Matematica" -->
    <p></p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required> Lula<br>
        <input type="radio" name="resposta" value="2"> Alckimim<br>
        <input type="radio" name="resposta" value="3"> Bolsonáro <br>
        <input type="radio" name="resposta" value="4"> Dias Toffoli<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
