<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Primeira pergunta</title>
</head>
<body>
    <h1>Primera pergunta:</h1>
    <p>π é um número irracional, qual o valor aproximadamente de π (pi)?</p>

    <form method="POST">
       <input type="radio" name="resposta" value="1" required> 3,17 <br>
       <input type="radio" name="resposta" value="2"> 3,14 <br>
       <input type="radio" name="resposta" value="3"> 3,16 <br>
       <input type="radio" name="resposta" value="4"> 3,15 <br>
       <br>
       <button type="submit">Responder</button>
    </form>
</body>
</html>