<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 5</title>
</head>
<body>
    <h1>Pergunta 5</h1>
    <!-- Tema:"Matematica" -->
    <p>Em um projeto para a construção de um cinema, os arquitetos estão avaliando a relação entre a quantidade de fileiras e a quantidade de cadeiras em cada fileira. O projeto inicial prevê uma sala para 304 pessoas. No caso de utilizarem 19 fileiras, o número de cadeiras por fileira será</p>
<!--resposta -  16  letra c -->
    <form method="POST">
        <input type="radio" name="resposta" value="1" required>14<br>
        <input type="radio" name="resposta" value="2">15<br>
        <input type="radio" name="resposta" value="3">16 <br>
        <input type="radio" name="resposta" value="4">13<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
